<div>
  <div>angular block works! {{test}} {{test2}}</div>
  <button (click)="doSomething()">do something</button>
  <div *ngIf="parent">parent props: {{parent.test}} {{parent.test2}}</div>
  <div *ngIf="children.length">children:
    <div *ngFor="let child of children">child props: {{child.test}} {{child.test2}}</div>
  </div>
  <div *ngIf="children2.length">children2:
    <div *ngFor="let child of children2">child props: {{child.test}} {{child.test2}}</div>
  </div>
</div>
<div #container>
  <ng-container #containerRef></ng-container>
</div>
<!--<builderify-block *ngIf="hasChild" test="child"></builderify-block>-->
<!--<ng-template builderifyChildrenHost></ng-template>-->
